<!Doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/springsecurity4">
    <head th:replace="/fragments/pktemplate::htmlhead">
    </head>
<body>

<!--    navbar come here          -->
<nav th:replace="/fragments/pktemplate::shownav"></nav>
<!-- end navbar  -->

<div class="wrapper">

    <!-- content come here-->

</div>



<!-- Modal Bodies come here -->

<!--   end modal -->



<!--The code from the oindex page is here-->
<h2>Everyone should be able to see this</h2>
<h2 sec:authorize="hasAuthority('DAVE')">Only Dave should be able to see this</h2>

<!--Show private rooms only -->
<!--You can make this into a fragment-->
<div sec:authorize="isAuthenticated()">
    <table class="table">
        <thead>
        </thead>
        <tbody>
        <tr th:each="aRoom:${rooms}">
            <td th:text="${aRoom.description}==''?'No description':${aRoom.description}"></td>
            <td th:text="${aRoom.address}"></td>
            <td th:text="${aRoom.city}"></td>
            <td th:text="${aRoom.wifi}==true?'Has wifi':'No wifi'"></td>
            <td th:text="${aRoom.privateListing}==true?'Private Listing':'Public Listing'"></td>
        </tr>
        </tbody>
    </table>
</div>

<!--You can make this into a fragment-->
<div sec:authorize="isAnonymous()">
    <!--Add Thymeleaf here to display count-->
    <h3>Public rooms</h3>

    <table class="table">
        <thead>

        </thead>
        <tbody>

        <tr th:each="aRoom:${rooms}">
            <td th:if="${aRoom.privateListing==false}" th:text="${aRoom.description}==''?'No description':${aRoom.description}"></td>
            <td th:if="${aRoom.privateListing==false}" th:text="${aRoom.address}"></td>
            <td th:if="${aRoom.privateListing==false}" th:text="${aRoom.city}"></td>
            <td th:if="${aRoom.privateListing==false}" th:text="${aRoom.wifi}==true?'Has wifi':'No wifi'"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>

</body>




<!-- Core JS Files -->
<script src="/assets/js/jquery-3.2.1.js" type="text/javascript"></script>
<script src="/assets/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
<script src="/assets/js/popper.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!-- Switches -->
<script src="/assets/js/bootstrap-switch.min.js"></script>

<!--  Plugins for Slider -->
<script src="/assets/js/nouislider.js"></script>

<!--  Plugins for DateTimePicker -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

<!--  Paper Kit Initialization snd functons -->
<script src="/assets/js/paper-kit.js?v=2.1.0"></script>
</html>
